.about-article-heading {
    width: 100%;
    height: 60px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
}

.to-top {
    margin: auto 1.5rem;
    filter:drop-shadow(2px 2px 1px var(--tertiary));
}

.to-top:hover {
    cursor: pointer;
}

h1.about-article-header {
    margin: auto;
    font-size: 2rem;
}

.about-article-header {
    margin: auto 0;
    text-shadow: 2px 2px 5px var(--tertiary);
}

.about-article-content {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-section-header {
    text-align: center;
    padding: 1rem 0;
    margin: auto;
    border-bottom: 2px solid var(--secondary);
}

#summary .about-section {
    width: calc(50% - 0.75rem);
}

#journey .about-section {
    width: calc(50% - 0.75rem);
}

#hobbies .about-section {
    width: calc((100% / 3) - 0.75rem);
}

.about-section-content {
    text-align: justify;
}

.about-link {
    color: var(--primary);
}

.about-link:visited {
    color: var(--primary);
}

.about-article-heading .about-link:hover {
    cursor: default;
}