.about-article-heading {
    width: 100%;
    height: 60px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
}

.to-top {
    margin: auto 1.5rem;
}

h1.about-article-header {
    margin: auto;
    font-size: 2rem;
}

.about-article-header {
    margin: auto 0;
}

.about-section {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
}

.about-link {
    color: var(--primary);
}

.about-link:visited {
    color: var(--primary);
}