:root {
    --bg-cyan: #009282;
    --bg-darkcyan: #006b62;
    --nav-green: #03b68fa4;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 194, 194);
    margin: 10px;
}

section {
    font-family: monospace;
    font-size: 16px;
}

body {
    background-image: linear-gradient(to bottom right, var(--bg-cyan), var(--bg-darkcyan), var(--bg-cyan));
    /* Don't want the background to repeat itself */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

nav {
    text-align: right;
    background-color: var(--nav-green);
    position: sticky;
}

nav a {
    text-decoration: none;
    color: black;
    border-left: 3px solid rgb(0, 128, 107);
    padding: 0 0.5rem;
}

.profile-image {
    /* Centering and applying border to image */
    width: 180px;
    display: block;
    margin: 0 auto;
    border: 3px solid teal;
    border-radius: 50%;
}

.info-section {
    background-color: rgba(0, 95, 95, 0.4);
    border: 3px solid teal;
    border-radius: 30px;
    margin: 1rem;
}

/* Add responsiveness for nav bar, profile image */