:root {
    --bg-cyan: #009282;
    --bg-darkcyan: #006b62;
    --nav-green: #02b48ea4;
    --nav-height: 60px;
    --active-btn: 13, 175, 156; /* RGB colour */
}

body {
    margin: 0px;
    width: 100vw;
    /* height: 100vh; */
    font-family: monospace;
    font-size: 16px;
    background-color: var(--bg-darkcyan);
}

/*---------- Nav bar ----------*/
.navbar {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--bg-cyan);
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.nav_heading {
    align-self: center;
    text-align: left;
    margin: 1rem;
    font-size: 2rem;
}

.nav_menu {
    display: flex;
    height: 100%;
    width: 27rem;
}

.nav_list {
    padding: 0;
    margin-right: 0.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbutton {
    background-color: var(--bg-cyan);
    border-color: var(--nav-green);
    border-radius: 12px;
    border-width: 3px;
    box-shadow: -2px 3px 2px 1px var(--bg-darkcyan);
    text-align: center;
    font-size: 0.9rem;
    margin: 0.5rem;
    padding: 0px 1rem;
    height: 2.5rem;
}

.navbutton:hover {
    cursor: pointer;
    background-color: rgba(var(--active-btn), 0.75);
}

.isactive {
    background-color: rgb(var(--active-btn));
    font-weight: bold;
}

/*----------- Home section -----------*/
.home-section {
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 2.5rem;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    border: 3px solid var(--bg-cyan);
    border-radius: 20rem;
    height: 100%;
}

.bio-image-container {
    align-self: flex-start;
    display: flex;
    align-items: center;
    height: 100%;
}

.bio-image {
    height: 100%;
    border: 3px solid var(--bg-cyan);
    border-left: none;
    border-radius: 50%;
}

.bio-text-container {
    margin: 0 3rem;
}

.info_section {
    background-color: rgba(0, 95, 95, 0.4);
    border: 3px solid teal;
    border-radius: 30px;
    margin: 1rem;
}

.center_text {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 26px;
        /* use when burger-menu implemented
        font-size: 3.9vw; */
    }

    /* nav {
        flex-wrap: wrap;
    } */
}