:root {
    --background: #000115;
    --light: #479cc0;
    --primary: #7C9EE2;
    --secondary: #5e5290;
    --tertiary: #25283a;
}

body {
    margin: 0;
    margin-bottom: 60px; /* For the footer */
    max-width: 100vw;
    min-width: 750px;
}

#root {
    min-height: 100vh;
    background-color: var(--tertiary);
    color: var(--primary);
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');