:root {
    --background: #000115;
    --light: #479cc0;
    --primary: #3f7aa1;
    --secondary: #5e5290;
    --tertiary: #25283a;
}

body {
    margin: 0;
    width: 100vw;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');